@import '../../_variables.sass'
    
.movieCardDiv
    display: inline-block
    text-align: center
    vertical-align: top
    margin: 0px 37.5px 37.5px 37.5px 

.movieCardImage
    width: 250px
    height: 375px

.movieCardTitle
    display: block
    font-family: $fira
    font-size: 20px
    margin: 5px 0px
    white-space: pre-wrap
    word-wrap: break-word
    text-align: left
    width: 250px
    height: 50px
    font-weight: 200
    color: #c1c1c1
    cursor: pointer
    &:hover
        color: #fff
        text-decoration: undereline


.movieCardGenre
    font-family: $fira
    font-size: 20px
    text-align: left
    font-weight: 200
    color: #fff
