@import '../../_variables.sass'
    
.movieCardDiv
    display: inline-block
    text-align: center
    vertical-align: top
    margin: 0px 37.5px 37.5px 37.5px
    @media (max-width: 500px)
        display: block
        margin: auto
        margin-bottom: 37.5px 
    &:focus
        outline: none
        border: none

.movieCardImage
    width: 250px 
    height: 375px
    @media (max-width: 950px)
        width: 200px !important
        height: 300px !important
    @media (max-width: 500px)
        width: 250px 
        height: 375px
        margin: auto

.movieCardGenre
    font-family: $fira
    font-size: 20px
    text-align: left
    font-weight: 200
    color: #fff
    border-bottom: solid 1px lighten($background-black, 20)
    padding-bottom: 5px
    @media (max-width: 500px)
        text-align: center

.movieTitleDiv
    width: 250px
    margin: auto
    @media (max-width: 950px)
        width: 200px


.movieCardTitle
    margin: 5px 0px
    padding-top: 10px
    font-weight: 200
    color: #fff
    font-family: $fira
    font-size: 20px
    cursor: pointer
    white-space: pre-wrap
    word-break: break-word
    position: relative
    text-decoration: none
    padding-bottom: 8px
    @media (max-width: 500px)
        text-align: center
        
    &:before, &:after
        content: ""
        position: absolute
        bottom: 2px
        left: 0
        right: 0
        height: 2px
        background-color: $pink
    &:before
        opacity: 0
        transform: translateY(-8px)
        transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s
    &:after
        opacity: 0
        transform: translateY(4px)
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s
    &:hover
        &:before, &:after
            opacity: 1
            transform: translateY(0)
    &:focus
        &:before, &:after
            opacity: 1
            transform: translateY(0)
    &:hover:before, &:focus:before
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s
    &:hover:after, &:focus:after
        transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s