@import '../../_variables.sass'

.mainMovieListDiv
    width: 90vw
    margin: auto
    margin-top: 5vh
    white-space: nowrap
    border-bottom: solid 1px #ccc

.movieListHeader
    color: #ffffff
    font-family: $fira
    font-weight: 200
    font-size: 30px
    text-decoration: underline
    text-decoration-color: $pink

.scrollButton
    display: block
    margin: auto
    width: 250px
    height: 50px
    background: none
    border: solid 1px #ccc
    color: #cccccc
    font-family: $rale
    font-size: 25px
    font-weight: 200
    cursor: pointer
    &:hover
        color: $pink
        border: solid 1px $pink
        transition: all 0.5s ease

.movieCardsContainer
    overflow-y: hidden
    overflow: -moz-scrollbars-none
    overflow-x: scroll
    -ms-overflow-style: none
    &::-webkit-scrollbar
        width: 0 !important
        height: 0 !important

