@import '../../_variables.sass'

.movieDetailsMainDiv
    position: fixed
    z-index: 9
    background: $background-black
    width: 100vw
    height: 100vh

.opacityLayerDiv
    position: fixed
    z-index: 10
    width: 100vw
    height: 100vh
    background: rgba(0,0,0,0.9)
    color: #fff

.titleSectionDiv
    display: inline-block
    width: 50%
    vertical-align: top

.infoSectionDiv
    display: inline-block
    width: 50%
    vertical-align: top

.movieTitleDiv
    margin-top: 150px
    text-align: center
    width: 90%
    padding-left: 5%

.movieTitleHeader
    font-family: $rale
    font-size: 70px
    font-weight: 200

.movieDescribtionDiv
    width: 95%
    padding-left: 5%

.movieDescribtionText
    font-family: $rale
    font-size: 35px
    font-weight: 200

.movieInfoDiv
    display: block
    width: 800px
    margin: auto
    background: $background-black
    opacity: 1 !important
    text-align: center
    border-top: solid 1px $pink
    border-bottom: solid 1px $pink
    height: 90vh
    margin-top: 5vh

.movieInfoDiv ul 
    text-align: center
    height: 80vh
    padding-top: 5vh
    padding-left: 0
    list-style: none

.movieInfoDiv ul li
    width: 100%
    font-family: $fira
    font-size: 35px
    font-weight: 200
    padding-bottom: 60px