@import '../../_variables.sass'


.mainNavDiv
    height: 70px
    width: 100vw
    background: $background-black
    position: fixed
    z-index: 5
    border-bottom: solid 2px lighten($background-black, 25)

.inputDiv
    display: block
    text-align: center
    margin: auto
    height: 70px

.searchInput
    height: 24px
    width: 530px
    background: lighten($background-black, 5)
    border: solid 1px lighten($background-black, 15)
    border-right: none
    margin-top: 15px
    font-family: $rale
    font-size: 20px
    padding: 8px
    color: lighten($background-black, 25)
    border-radius: 5px 0px 0px 5px
    &::placeholder
        color: lighten($background-black, 25)
    &:focus
        outline: none
    @media (max-width: 850px)
        width: 50vw
    @media (max-width: 600px)
        width: 70vw
    @media (max-width: 400px)
        width: 50vw

.searchIconDiv
    height: 40px
    width: 40px
    margin-bottom: 7px
    display: inline-block
    vertical-align: middle
    background: lighten($background-black, 5)
    border: solid 1px lighten($background-black, 15)
    border-left: none
    text-align: center
    cursor: pointer
    border-radius: 0px 3px 3px 0px

.searchIcon
    margin-top: 5px
    font-size: 30px
    display: block
    color: lighten($background-black, 20)
    transition: color 0.4s ease
    &:hover
        color: $pink

